Checks: >
  # readability-*,
  bugprone-*,
  performance-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  -bugprone-easily-swappable-parameters,
  -clang-diagnostic-missing-braces,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion
HeaderFilterRegex: '^(?!.*_deps).*$'
FormatStyle: none
